<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/calc/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Calmulator</title>
</head>
<body>
    <div class="calc-box">
        <div class="calc-screen"><h1 id="output">0</h1></div>
            <div class="calc-button-grid">
                <button id="clear">AC</button>
                <button class="operators" data-value= "%">%</button>
                <button class="operators" data-value= "/">/</button>
                <button class="operators" data-value= "*">*</button>
                <button class="numbers" data-value="1">1</button>
                <button class="numbers" data-value="2">2</button>
                <button class="numbers" data-value="3">3</button>
                <button class="operators" data-value= "-">-</button>
                <button class="numbers" data-value="4">4</button>
                <button class="numbers" data-value="5">5</button>
                <button class="numbers" data-value="6">6</button>
                <button class="operators" data-value= "+">+</button>
                <button class="numbers" data-value="7">7</button>
                <button class="numbers" data-value="8">8</button>
                <button class="numbers" data-value="9">9</button>
                <button id="equals">=</button>
                <button id="decimal" data-value=".">.</button>
                <button class="numbers" data-value="0">0</button>
                <button class="material-icons" id="backspace">backspace</button>
            </div>
    </div>
    <button id="back" onclick="window.location.href='/'">Back to Justin's Page</button>
</body>
<script src="static/calc/script.js"></script>
</html>
